:root {
  --colour-white: #ffffff;
  --colour-black: #000000;
  --colour-nav: #4a752c;
  --colour-cell-unrevealed-light: #aad751;
  --colour-cell-unrevealed-dark: #a2d149;
  --colour-cell-revealed-light: #e5c29f;
  --colour-cell-revealed-dark: #d7b899;
  --colour-cell-border: #87af3a;
  --colour-one: #1976d2;
  --colour-two: #388e3c;
  --colour-three: #d32f2f;
  --colour-four: #7b1fa2;
  --colour-five: #b8860b;
  --colour-six: #00ced1;
  --colour-seven: #000000;
  --colour-eight: #808080;
  --colour-mine-red: #db3236;
  --colour-mine-purple: #b648f2;
  --colour-mine-pink: #ed44b5;
  --colour-mine-orange: #f4840d;
  --colour-mine-yellow: #f4c20d;
  --colour-mine-blue: #4885ed;
  --colour-mine-cyan: #48e6f1;
  --colour-mine-green: #008744;
}

#board {
  display: grid;
  font-weight: bold;
  font-size: x-large;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background 0.3s;
}

.unrevealed-light {
  background: var(--colour-cell-unrevealed-light);
}

.unrevealed-dark {
  background: var(--colour-cell-unrevealed-dark);
}

.revealed-light {
  background: var(--colour-cell-revealed-light);
}

.revealed-dark {
  background: var(--colour-cell-revealed-dark);
}

.unrevealed-light,
.unrevealed-dark,
.revealed-dark:has(span),
.revealed-light:has(span) {
  &:hover {
    filter: brightness(1.5);
    filter: opacity(0.8);
  }
}

.mine-1::before,
.mine-2::before,
.mine-3::before,
.mine-4::before,
.mine-5::before,
.mine-6::before,
.mine-7::before,
.mine-8::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: auto;
  filter: brightness(0.6);
}

.mine-1 {
  background: var(--colour-mine-red);

  &::before {
    background: var(--colour-mine-red);
  }
}

.mine-2 {
  background: var(--colour-mine-orange);

  &::before {
    background: var(--colour-mine-orange);
  }
}

.mine-3 {
  background: var(--colour-mine-yellow);

  &::before {
    background: var(--colour-mine-yellow);
  }
}

.mine-4 {
  background: var(--colour-mine-green);

  &::before {
    background: var(--colour-mine-green);
  }
}

.mine-5 {
  background: var(--colour-mine-cyan);

  &::before {
    background: var(--colour-mine-cyan);
  }
}

.mine-6 {
  background: var(--colour-mine-blue);

  &::before {
    background: var(--colour-mine-blue);
  }
}

.mine-7 {
  background: var(--colour-mine-purple);

  &::before {
    background: var(--colour-mine-purple);
  }
}

.mine-8 {
  background: var(--colour-mine-pink);

  &::before {
    background: var(--colour-mine-pink);
  }
}

.colour-1 {
  color: var(--colour-one);
}

.colour-2 {
  color: var(--colour-two);
}
.colour-3 {
  color: var(--colour-three);
}
.colour-4 {
  color: var(--colour-four);
}
.colour-5 {
  color: var(--colour-five);
}
.colour-6 {
  color: var(--colour-six);
}
.colour-7 {
  color: var(--colour-seven);
}
.colour-8 {
  color: var(--colour-eight);
}

.border-top {
  border-top: 1px solid var(--colour-cell-border);
}

.border-right {
  border-right: 1px solid var(--colour-cell-border);
}

.border-bottom {
  border-bottom: 1px solid var(--colour-cell-border);
}

.border-left {
  border-left: 1px solid var(--colour-cell-border);
}

.flag {
  background-image: url("./images/flag_plant.png");
  background-size: 100% 900%;
  animation: growFlag 0.15s steps(9) forwards;
}

@keyframes growFlag {
  from {
    background-position: 0 0%;
  }
  to {
    background-position: 0 100%;
  }
}

.flag.remove {
  animation: shrinkFlag 0.1s steps(9) forwards;
}

@keyframes shrinkFlag {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
